

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 30px;
}

.load {
    display: flex;
    justify-content: center;
}

.title{
    font-size: calc(2rem + 1.5vw);
    font-family: 'OpenSansBold', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #393939;
    text-align: center;
    margin: 0 0 20px 0;
    padding: 0 15px
}

.btnStart {
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn {
    margin: 0 5px;
    border: none;
    background-color: #8F00FF;
    color: white;
    font-family: "OpenSansMedium", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: calc(1.5rem + 2vw);
    border-radius: 12px;
    padding: 15px 15px;
    text-decoration: none;
}
.btnPay{
    margin: 0 5px;
    border: none;
    background-color: #8F00FF;
    color: white;
    font-family: "OpenSansMedium", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: calc(1.5rem + 2vw);
    border-radius: 12px;
    padding: 15px 15px;
    text-decoration: none;
    cursor: pointer;
}
.disaleBtn{
    margin: 0 5px;
    border: none;
    background-color: #8F00FF;
    opacity: 0.7;
    color: white;
    font-family: "OpenSansMedium", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: calc(1.5rem + 2vw);
    border-radius: 12px;
    padding: 15px 15px;
    text-decoration: none;
    cursor: pointer;
}

.imgCont {
    margin-top: 50px;
}

.mainImg{
    max-width: 256px;
    height: auto;
}

@media (max-width: 720px) {
    .title {
        font-size: calc(1.5rem + 1.5vw);
    }
}

@media (max-width: 420px) {
    .title {
        font-size: calc(1.7rem + 1.5vw);
    }
}

@media (max-width: 320px) {
    .title {
        font-size: calc(1.2rem + 1.5vw);
    }
    .btn {
        font-size: calc(1rem + 2vw);
    }
    .btnPay {
        font-size: calc(1rem + 2vw);
    }
    .mainImg {
        max-width: 180px;
        height: auto;
    }
}