.title {
  font-size: calc(2rem + 1.5vw);
  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  /* color: #393939; */
  text-align: center;
  padding-right: 7px;
  padding-left: 7px;
}

.btnStart {
  cursor: pointer;
  text-align: center;
  background-color: #8f00ff;
  color: #fafafa;
  font-family: "OpenSansMedium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: calc(1rem + 1.7vw);
  border-radius: 10px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;

}
.btnStart:hover {
  text-decoration: none;
  color: #fafafa;
}
.disableBtn {
  opacity: 0.3;
  pointer-events: none;
}

.stationText {
  font-size: calc(1.3rem + 0.4vw);
  font-family: "OpenSansMedium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  /* color: #393939; */
}

.stationNumber {
  font-size: calc(1.4rem + 0.7vw);
  font-family: "OpenSansSemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  /* color: #393939; */
}

@media (max-width: 720px) {
  .title {
    font-size: calc(1.5rem + 1.5vw);
  }
}

@media (max-width: 420px) {
  .title {
    font-size: calc(1.7rem + 1.5vw);
  }
}

@media (max-width: 320px) {
  .title {
    font-size: calc(1.2rem + 1.5vw);
  }
  .btn {
    font-size: calc(1rem + 2vw);
  }
}
