.timerBox {
  text-align: center;
}

.timerText {
  font-family: "OpenSansSemiBold", Arial, Helvetica, sans-serif;
  font-size: 58px;
  margin: 20px 0 30px 0;
  color: #04aa6d;
  transition: 0.8s;
}

.overTimerText {
  font-family: "OpenSansSemiBold", Arial, Helvetica, sans-serif;
  font-size: 58px;
  margin: 20px 0 30px 0;
  color: #000;
}

.overText {
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
  font-size: 38px;
}

.endText {
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
  font-size: 38px;
}

.chargingPower {
  font-family: "OpenSansMedium", Arial, Helvetica, sans-serif;
  font-size: 28px;
  text-align: center;
}
