.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.contentBox {
  margin: 10% 0 5% 0;
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1280px) {
  .contentBox {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .contentBox {
    grid-template-columns: repeat(2, 0.6fr);
  }
}

@media (max-width: 540px) {
  .contentBox {
    grid-template-columns: repeat(1, 1fr);
  }
}
