.container {
  max-width: 300px;
  background-color: rgb(252, 247, 247);
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  margin: 20px;
  padding: 20px;
}
.mainInfo {
  display: flex;
  align-items: baseline;
}
.numberStation {
  font-size: calc(1.4rem + 0.7vw);
  font-family: "OpenSansSemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #393939;
  margin-right: 5px;
}
.nameStation {
  font-size: calc(1.3rem + 0.4vw);
  font-family: "OpenSansMedium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #393939;
  border-bottom: 1px solid #dbdbdb;

}
.status {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.readyCharge {
  font-size: calc(1.3rem + 0.4vw);
  font-family: "OpenSansMedium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #393939;
  margin-top: 20px;
}
.online {
  border-radius: 25px;
  width: 20px;
  height: 20px;
  background-color: #05aa6e;
}
.offline{
    border-radius: 25px;
    width: 20px;
    height: 20px;
    background-color: #8F00FF;
}
.linkToStation{
    text-decoration: none;
}
