.timerBox {
  text-align: center;
}

.timerText {
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: calc(1.4rem + 0.7vw);
  margin: 20px 0 0 0;
  color: #2c2b2b;
  transition: 0.8s;
}

.overText {
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 38px;
}

.endText {
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 38px;
}

.chargingPower {
  font-family: "OpenSansMedium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
}
