ewelink:
  region: eu
  email: borbotkodmitro@gmail.com
  password: kikliko2002
  countryCode: "+380"
  appId: YzfeftUVcZ6twZw1OoVKPRFYTrGEg01Q
  appSecret: 4G91qSoboqYO4Y0XJ0LPPKIsq8reHdfa

device:
  chargeTimeSecs: 30

station:
  scan-delay-ms: 1000
  scan-batch-size: 5
  scan-threads: 1
  scan-interval-ms: 2000

# docker
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/km220
    username: km220
    password: Nopassword1
  flyway:
    clean-on-validation-error: false

flyway:
  locations: "classpath:db/migration/pg"


server:
  forward-headers-strategy: framework

# #backup
# #ewelink.appid = 'oeVkj2lYFGnJu5XUtWisfW4utiN4u9Mq';
# #ewelink.appSecret = '6Nz4n0xA8s8qdxQf2GqurZj2Fs55FUvM';
