<?xml version="1.0" encoding="UTF-8"?>
<!-- Extra logging related to initialization of Log4j.
 Set to debug or trace if log4j initialization is failing. -->
<Configuration status="warn">
  <Properties>
    <Property name="runid">$${date:YYYY-MM-dd HH-mm-ss}</Property>
  </Properties>
  <Appenders>
    <!-- Console appender configuration -->
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout disableAnsi="false"  pattern="%highlight{%d{HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=black, DEBUG=green bold, TRACE=blue}"/>
    </Console>
    <File name="BackFile" fileName="/var/log/km220/backend-${runid}.log">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
    </File>
    <Async name="Async">
      <AppenderRef ref="BackFile"/>
    </Async>
  </Appenders>

  <Loggers>
    <!-- Root logger referring to console appender -->
    <Root level="info" additivity="false">
      <AppenderRef ref="console" />
      <AppenderRef ref="Async" />
    </Root>

    <Logger name="com.km220" level="debug" additivity="false">
      <Appender-ref ref="Async" level="DEBUG" />
      <AppenderRef ref="console" level="DEBUG" />
    </Logger>
  </Loggers>
</Configuration>