.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.checkOverloadContainer {
  margin: 0 auto;
}
.seccessCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btnPay {
  margin: 0 auto;
  border: none;
  background-color: #04aa6d;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: calc(1.5rem + 2vw);
  border-radius: 12px;
  padding: 2px 35px;
  font-weight: 800;
  text-decoration: none;
  cursor: pointer;
}
.btnPayOverload {
  margin: 0 auto;
  border: none;
  background-color: #393939;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: calc(1.5rem + 2vw);
  border-radius: 12px;
  padding: 2px 35px;
  font-weight: 800;
  text-decoration: none;
  cursor: pointer;
}
.disaleBtn {
  margin: 0 auto;
  border: none;
  background-color: #04aa6d;
  opacity: 0.7;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: calc(1.5rem + 2vw);
  border-radius: 12px;
  padding: 2px 35px;
  font-weight: 800;
  text-decoration: none;
  cursor: pointer;
}
.waitPay {
  font-family: "Open Sans", sans-serif;
  font-size: calc(1.2rem + 1.6vw);
  color: #393939;
  font-weight: 800;
  margin-top: 10px;
  text-align: center;
}
.waitPayTwo{
  font-family: "Open Sans", sans-serif;
  font-size: calc(1.2rem + 1.6vw);
  color: #393939;
  font-weight: 800;
  margin-top: 10px;
  text-align: center;
}
.waitPayTwo:after {
  content: ".";
  animation: dots 1.5s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: #393939;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #393939;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #393939, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 #393939, 0.5em 0 0 #393939;
  }
}
.successCheck {
  font-family: "Open Sans", sans-serif;
  font-size: calc(1.5rem + 2vw);
  color: #04aa6d;
  font-weight: 800;
  margin-top: 10px;
  text-align: center;
}
.successCheck:last-child {
  margin-top: -15px;
}

.checkContainer{
  display: flex;
  justify-content: center;;
}


.checkText {
  font-family: "Open Sans", sans-serif;
  font-size: calc(1rem + 1.5vw);
  color: #393939;
  font-weight: 800;
}
.checkTextOverload {
  font-family: "Open Sans", sans-serif;
  font-size: calc(1rem + 1.5vw);
  color: #393939;
  font-weight: 800;
  text-align: center;
}

/* loading checking dots */

.checkText:after {
  content: ".";
  animation: dots 1.5s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: #393939;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #393939;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #393939, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 #393939, 0.5em 0 0 #393939;
  }
}
