.statisticBox {
    padding-top: 80px;
    padding-left: 30px;
}
.listPower {
    display: flex;
    padding-right: 20px;
}
.powerInfo {
    font-family: "Open Sans", sans-serif;
    font-size: calc(0.5rem + 1vw);
    padding: 5px 3px;
}
.monthlyPower {
    font-family: "Open Sans", sans-serif;
    font-size: calc(0.7rem + 1.3vw);  
}
.tableList {
    display: flex;
    flex-wrap: wrap;
}
.load {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}