<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>220 km</title>
  </head>
  <body>
  <center>
      <br/><br/>
      <button style="font-size: 28px;height:120px;width:300px" onclick="window.open('{{ message }}')" id="myButton" class="float-left submit-button" >Start Charging</button>
  </center>
  </body>
</html>