<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Description Placeholer ( for SEO )">
    <meta name="keywords" content="Keywords Placeholer ( for SEO )">
    <meta property="og:site_name" content="220-km.com"/>
    <meta property="og:site" content=""/>
    <meta property="og:title" content="220-km.com - Заряди 220 кілометрів за ніч "/>
    <meta property="og:description" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <title>220-km.com - Заряди 220 кілометрів за ніч </title>
    <link href="css/custom.css" rel="stylesheet"/>
    <link href="css/bootstrap-3a76f35339.css" rel="stylesheet"/>
    <link href="css/fontawesome-all-11274eeeaa.css" rel="stylesheet"/>
    <link href="css/swiper-4aa7a26ce2.css" rel="stylesheet"/>
    <link href="css/magnific-popup-bc1aad3793.css" rel="stylesheet"/>
    <link href="css/styles-light-bcdc24995d.css" rel="stylesheet"/>
    <link rel="icon" href="placeholder/logo-placeholder2.png?imageView2/1/w/64/h/64">
</head>
<body data-spy="scroll" data-target=".fixed-top">
<div class="spinner-wrapper">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top"><a class="navbar-brand logo-image" href="#">
    <h3><img src="placeholder/logo-placeholder2.png?imageView2/1/w/128/h/128" alt=""/>220-km.com</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsToggle"
            aria-controls="navbarsToggle" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-awesome fas fa-bars"></span> <span class="navbar-toggler-awesome fas fa-times"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsToggle">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link page-scroll" href="./en/контактні-дані">контактні дані</a></li>
            <li class="nav-item"><a class="nav-link page-scroll" href="./en/договір-публічноі-оферти">договір публічної
                оферти</a></li>
        </ul>
    </div>
</nav>
<div id="header" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12"><h1>Заряди 220 кілометрів за ніч </h1>
                <p class="p-heading p-large"></p></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="image-container">
                    <button class="button button4" style="font-size: 28px;"
                            onclick="window.open('{{ message }}')"
                            id="myButton">
                        Run 16A
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="image-container"><img class="img-fluid"
                                                  src="image/3yo9gpna/4832c34e4e3f7b9a2f022180537410c1.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12"><p class="p-small">©2022 All rights reserved. Made by <a
                    href='https://www.facebook.com/zeBoosterLab/' target='_blank'>ZE Booster Lab</a> with ♥ to Zero
                Emission Vehicles</p></div>
        </div>
    </div>
</div>
<script src="js/jquery-a09e13ee94.min.js"></script>
<script src="js/popper-36affe2ca6.min.js"></script>
<script src="js/bootstrap-e1d98d4768.min.js"></script>
<script src="js/jquery-b62c744f56.easing.min.js"></script>
<script src="js/swiper-d3ecdaa712.min.js"></script>
<script src="js/jquery-21dfcde552.magnific-popup.js"></script>
<script src="js/validator-6f0c261c06.min.js"></script>
<script src="js/scripts-ec752a0d69.js"></script>
</body>
</html>