.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
}
.numError {
    font-family: sans-serif;
    font-weight: 400;
    font-size: calc(8rem + 3vw);
    margin: 0;
    color: #06935f;
}
.title {
    font-family: sans-serif;
    font-weight: 600;
    font-size: calc(1.5rem + 1vw);
    margin: 0;
    color: #28464D;
}
.body {
    font-family: sans-serif;
    font-weight: 400;
    font-size: calc(0.7rem + 0.2vw);
    margin: 10px 0 0 0;
    color: #28464D;
}