.mainBlock {
  transition-duration: 1s;
}

.kmCharged {
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: calc(1.5rem + 1.5vw);
}

.textTitle {
  font-family: "OpenSansSemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: calc(1.1rem + 1.7vw);
  padding: 0 5px 0 5px;
}

.textInfo {
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: calc(1rem + 1.6vw);
  padding: 0 5px 0 5px;
}

.voltTitle {
  font-size: calc(1rem + 1.3vw);
  margin-bottom: 0;
}

.stationText {
  font-size: calc(1.3rem + 0.4vw);
  font-family: "OpenSansMedium", Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.stationNumber {
  font-size: calc(1.4rem + 0.7vw);
  font-family: "OpenSansSemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.offCont {
  display: none;
}

.finishTitle {
  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: calc(1.2rem + 1.5vw);
}
.finishText {
  font-family: "OpenSansMedium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: calc(1rem + 1.5vw);
  margin-bottom: 15px;
}

.btnVoltage {
  cursor: pointer;
  padding: 10px 0 10px 0;
}

.fullInfoCont {
  padding-top: 20px;
  padding-bottom: 1px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100%;
}

.infoActive {
  transform: scale(1);
  transition: 1s all;
}

.info {
  transform: scale(0.5);
  transition: 1s all;
}

.pushable {
  background: #530092;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
}
.front {
  display: block;
  padding: 0 10px 0 10px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #8f00ff;
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}
