.timerBox {
  text-align: center;
}
.overText {
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
  font-size: 38px;
}

.endText {
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
  font-size: 38px;
}
