.timerBox {
  text-align: center;
  padding: 0 20px 0;
  width: 100%;
}
.kmCharged {
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: calc(1.5rem + 1.5vw);
  margin-top: 40px;
  color: #2c2b2b;
}
.textTitle {
  font-family: "OpenSansSemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: calc(1.3rem + 1.9vw);
  margin-bottom: 5px;
  color: #04aa6d;
}

.text {
  font-family: "OpenSansSemiBold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: calc(1rem + 1.5vw);
  margin-bottom: 5px;
  color: #2c2b2b;
}

.getPowerInfoCont {
  display: flex;
  justify-content: space-between;
}
.offCont {
  display: none;
}

.power {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.finishContainer {
  width: 100%;
}

.finishTitle {
  text-align: center;
  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: calc(1.2rem + 1.5vw);
  margin-bottom: 5px;
  color: #2c2b2b;
}
.finishText{
  text-align: center;
  font-family: "OpenSansMedium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: calc(1rem + 1.5vw);
  color: #2c2b2b;
}
