.contentPage {
  margin-top: 120px;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
.contractBox {
  margin-top: 15;
}
.textContainer {
  padding: 50px 100px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-top: 50px;
}
.title {
  font-family: "OpenSansMedium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin: 0 !important;
}
.conentTitle {
  font-size: 20px;
  text-align: center;
  margin-bottom: 35px;
}
p {
  font-family: "OpenSansMedium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 10px;
}
.offerLink {
  text-decoration: none;
  color: #8F00FF;
}
.offerLink:hover {
  color: #008957;
}

.offerLink:active {
  color: #008957;
}

.congrats220 {
  color: #8F00FF;
}


@media (max-width: 1340px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1080px) {
  .title {
    font-size: 24px;
  }
  .textContainer {
    padding: 30px 20px;
    margin: 30px 0;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 18px;
    font-weight: 500;
  }
  .textContainer {
    padding: 30px 20px;
    margin: 30px 0;
  }
  .container {
    padding: 0 20px;
  }
  .contentPage {
    margin-top: 80px;
  }
}
