.load_animation {
    width: 100%;
    height: 70vh;
    font-size: 4rem;
    align-self: flex-end;
    background-color: white;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .animation {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
    box-sizing: content-box;
    padding: 10px;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    animation: spinner 3s infinite;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  @keyframes spinner {
    50% {
      transform: translate(-50%, -50%);
      border: 2px solid rgba(0, 0, 0, 0.178);
      padding: 30px;
      color: #04aa6d;
      opacity: 1;
    }
  }