.paddingBox {
  padding: 1% 3%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  transition: 0.15s;
  position: fixed;
  width: 100%;
  background-color: white;
}

.paddingBoxFixed {
  padding: 0.5% 3%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  transition: 0.3s;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 6px -2px #f2f2f2;
}

.homeLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;
}

.logoContainer {
  display: flex;
}

.logoImg {
  margin-right: 10px;
  max-width: 40px;
  width: auto;
  height: auto;
}

.logoText {
  color: #393939;
  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  font-size: calc(0.9rem + 1.2vw);
  margin: 0;
}

.routeLinks {
  display: flex;
  align-items: end;
  list-style: none;
  margin: 0;
}

.links {
  color: #6c757d;
  padding: 4px;
  padding-left: 12px;
  padding-right: 0;
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 16px;
}

.links:hover {
  color: #393939;
}

.mobileNavigation {
  display: none;
}

.langContainer {
  display: flex;
}

.btnLang {
  font-family: "OpenSansRegular", Arial, Helvetica, sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #393939;
  margin-left: 5px;
}
.btnLang:not(:last-child) {
  border-right: 2px solid #a5adb4;
  padding-right: 5px;
  margin-left: 15px;
}

@media (max-width: 720px) {
  .mobileNavigation {
    display: flex;
    align-items: center;
    background-color: white;
    cursor: pointer;
    z-index: 1000;
  }

  .routeLinks {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: #ededed;
    z-index: 1000;
  }

  .list {
    padding-right: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    z-index: 1000;
  }

  .burger {
    position: absolute;
    right: 3%;
    transition: 0.8s;
    z-index: 1000;
  }

  .navigation {
    display: none;
  }
}
