

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 30px;
}

.title{
    font-size: calc(2rem + 1.5vw);
    font-family: 'Open Sans';
    font-weight: 700;
    color: #393939;
    text-align: center;
    margin: 60px 0 50px 0;
    padding: 0 15px
}

.btnStart {
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn {
    margin: 0 5px;
    border: none;
    background-color: #04AA6D;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: calc(1.5rem + 2vw);
    border-radius: 12px;
    padding: 15px 15px;
    font-weight: 500;
    text-decoration: none;
}
.btnPay{
    margin: 0 5px;
    border: none;
    background-color: #04AA6D;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: calc(1.5rem + 2vw);
    border-radius: 12px;
    padding: 20.3px 20.3px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.imgCont {
    /* display: flex; */
    /* justify-content: center; */
    margin-top: 50px;
}

.mainImg{
    max-width: 256px;
    height: auto;
}


@media (max-width: 1000px) {
    .btnPay {
        padding: 19px 19px;
    }
}

@media (max-width: 720px) {
    .title {
        font-size: calc(1.5rem + 1.5vw);
    }
}

@media (max-width: 420px) {
    .title {
        font-size: calc(1.7rem + 1.5vw);
    }
    .btnPay {
        padding: 18px 18px;
    }
}

@media (max-width: 320px) {
    .title {
        font-size: calc(1.2rem + 1.5vw);
    }
    .btn {
        font-size: calc(1rem + 2vw);
    }
    .btnPay {
        font-size: calc(1rem + 2vw);
        padding: 17.5px 17.5px;
    }
    .mainImg {
        max-width: 180px;
        height: auto;
    }
}