name: CI/CD prod

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'adopt'
    - uses: actions/setup-node@v3
      with:
        node-version: '18.x'
    - name: 220 build BE
      run: ./gradlew clean build -i
    - name: 220 build FE
      run: cd src-js/react && npm i && npm run buildProd
    - name: 220 clean old deployments on prod
      uses: fifsky/ssh-action@master
      with:
        command: |
          rm -rf /220/**
        host: 168.119.177.145
        user: root
        key: ${{ secrets.PRIVATE_KEY}}
    - name: 220 copy artifacts to prod
      uses: appleboy/scp-action@master
      with:
        host: 168.119.177.145
        username: root
        port: 22
        key: ${{ secrets.PRIVATE_KEY }}
        source: "build/libs/220-km.com-0.0.1-SNAPSHOT.jar, src-js/react/build"
        target: "/220/"
    - name: 220 restart BE on prod
      uses: fifsky/ssh-action@master
      with:
        command: |
          systemctl restart run-220-be-prod.service
        host: 168.119.177.145
        user: root
        key: ${{ secrets.PRIVATE_KEY}}
